<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Multimedia_app</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Multimedia_app.styles.css" asp-append-version="true"/>
</head>
<body>
<header class="header">
    <a class="logo" href="/">Åsa Rejnö</a>

    <nav class="nav-links">
        <a href="/">Start</a>
        <a href="/Artwork">Verk</a>

        @if (User.Identity.IsAuthenticated)
        {
            <a href="/AdminArtwork">Hantera verk</a>

            <form method="post" asp-controller="Login" asp-action="Logout">
                <button class="login-btn" type="submit">Logga ut</button>
            </form>
        }
        
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer id="footer">
    <p>© 2026 Konstnärens namn · kontakt@exempel.se</p>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>